.container {
  background-color: antiquewhite;
  margin-top: 15px;
  padding: 10px;
  height: 300px;
}

.box {
  border: 1px solid grey;
  background-color: rgb(87, 85, 85);
  border-radius: 5px;
  padding-left: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.box2 {
}

.box3 {
  
}
