<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Flexbox</title>
    <link rel="stylesheet" href="../css/position.css" />
  </head>
  <body>
    <h3>Fundamentos web</h3>

    <div class="container">
      <div class="boxVerde"></div>
      <div class="boxAmarillo"></div>
    </div>
    <p><a href="../index.html">Home</a></p>
  </body>
</html>
